<% provide(:title, 'Contact') %>

    <h1>Contact</h1>
    <p>
      Please send all inquires to the charlesharring3@gmail.com if you are looking for my resume
      <a href="http://www.linkedin.com/in/charlesharring/">you can find it here</a>
      </p>